* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header {
    /* debug */
    height: 80px;
    width: 100%;
    background-color: rgb(51, 51, 51);
}
/* #container {
    display: flex;
    flex-wrap: wrap;
} */