* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* debug */
    height: 70px;
    width: 100%;
    background-color: rgb(51, 51, 51);
}
#logo {
    width: 60px;
}
.nav {
    color: rgb(115, 115, 115);
}
.logo-nav {
    display: flex;
    align-items: center;
    gap: 10px;
}
.container-form{
    padding-top: 5%;
}
/* hoover */
.nav:hover {
    color: #fff;
}
